.main-chat
  .right-header
    .group-info
      = @group.name
      .list-box
        member:
        %ul.list-box__list
          - @group.users.each do |user| 
            %li.list-box__list__member=user.name
    .edit-btn
      =link_to edit_group_path(@group), class:"main-edit__btn" do
        Edit
        .Edit
  .message-list
    = render @messages
    .message-box
      .message-info
        .message-info__message-name
        .message-info__date
      .message
  
  
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .contents
        = f.text_field :content, class: 'textarea', placeholder: 'type a message'
        = f.label :image, class: 'input-picture-image' do
          = icon('far', 'image', class: 'picture')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit'

  